[submodule "cpp/3rdparty/cmu"]
	path = cpp/3rdparty/cmu
	url = https://github.com/CmdrMoozy/cmu.git
[submodule "cpp/3rdparty/catch"]
	path = cpp/3rdparty/catch
	url = https://github.com/philsquared/Catch.git
[submodule "template"]
	path = template
	url = https://github.com/CmdrMoozy/rust-template.git
